
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/assets/vendor/
###< symfony/asset-mapper ###

# Gemini Context
/GEMINI.md
/.agents/
/.gemini/
/skills-lock.json
/templates/ui_ideas
/MODAL_IMPLEMENTATION_GUIDE.md
/.cached_plans/
/FA_project_budgets_plan.md
/project_budget.md
/templates/ui-collapse.html.twig
/templates/form-editors.html.twig
.env.dev

/.MA_cached_plans/
/MOBILE_PUSH_NOTIFICATIONS_HISTORY.md
/PUSH_NOTIFICATIONS_SETUP.md
/nexum-aca87-firebase-adminsdk-fbsvc-476323cec1.json


# IDEs
/.idea/

fcm-token-extraction.md
